*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f7f9fc;
}


.dashboard{
    width:92%;
    max-width:1500px;
    margin:auto;
    padding:50px 0;
}


.dashboard h1{
    text-align:center;
    color:#111827;
    font-size:42px;
    font-weight:700;
}


.subtitle{
    text-align:center;
    color:#718096;
    font-size:18px;
    margin-top:12px;
    margin-bottom:50px;
}



/* GRID */

.dashboardGrid{

    display:grid;

    grid-template-columns:
    repeat(5, 1fr);

    gap:24px;

}



/* CARD */

.card{

    background:white;

    min-height:180px;

    border-radius:24px;

    padding:25px;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.06);

    display:flex;

    flex-direction:column;

    justify-content:space-between;

}



/* TOP SECTION */

.cardTop{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

}



/* ICON */

.iconCircle{

    width:55px;

    height:55px;

    background:#e8efff;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    color:#2563eb;

    font-size:22px;

}



/* BADGE */

.badge{

    padding:7px 16px;

    border-radius:20px;

    font-size:13px;

    font-weight:700;

    white-space:nowrap;

}


.green{

    background:#e8faf1;
    color:#10a36a;

}


.orange{

    background:#fff4df;

    color:#e69200;

}



/* NUMBER */

.card h2{

    font-size:36px;

    font-weight:750;

    color:#111827;

    margin-top:25px;

    line-height:1.15;

    letter-spacing:-1px;

}



/* TITLE */

.title{

    margin-top:8px;

    color:#64748b;

    font-size:17px;

}



/* RESPONSIVE */

@media(max-width:1200px){

    .dashboardGrid{

        grid-template-columns:
        repeat(3,1fr);

    }

}


@media(max-width:800px){

    .dashboardGrid{

        grid-template-columns:
        repeat(1,1fr);

    }

}